@charset "utf-8";

/***********************************************
*
*				상단 추가 텍스트 리스트형 레이아웃 css
*
************************************************/
.list_info_addacct {
	position: relative;
	width: 100%;
	height: 116px;
	border: 1px solid #9c9c9c;
	border-radius: 10px;
	margin-bottom: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 55px;
	box-sizing: border-box;
}

.list_info_addacct:hover {
	border: 1px solid #046fd9;
}

.list-panel .list_info_addacct .text_area {
	width: 100%;
	height : 74px;
	padding-top : 7px;	
}

.list-panel .list_info_addacct .sub_text {
	font-size: 21px;
	line-height: 24px;
	text-align: left;
}

.list-panel .list_info_addacct .main_text {
	width: 100%;
	font-family: 'IBK IDream M';
	font-size: 28px;
	line-height: 30px;
}

.list-panel .list_info_addacct .type_text {
	left: 0px; 
	top: 0px; 
	width: 110px; 
	height: 28px; 
	right: 36px; 
	bottom: auto; 
	font-family: "IBK iDream M"; 
	font-size: 16px; 
	border-radius: 5px 0 0 0; 
	z-index: 0; 
	background: #9c9c9c;' 
}

.list-panel .list_info_addacct .text_area .posLT {
	position: relative; 
	top: 7px; 
}

.list-panel .list_info_addacct .text_area .posLT2 {
	position: relative; 
	top: 0px; 
}


.list-panel .list_info_addacct .text_area .posLB {
	position: relative; 
	top: 9px; 
}

.list-panel .list_info_addacct .next_img {
	width: 10px;
	height: 18px;
	background: url(/core/image/list_ic_next.png) no-repeat;
	background-size: 10px auto;
	display: flex;
	justify-content: center;
	align-items: center;
	float: right;
	position: relative; 
	top: 0px; 
	right: -15px; 
}

